form {
	background-color: white;
	padding: 3rem;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
}
label {
	text-align: center;
	font-weight: bold;
	color: rgb(7, 137, 25);
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
textarea {
	border: 2px solid gray;
	width: 100%;
	height: 6rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	font-size: 1.2rem;
}
textarea:focus {
	outline-color: rgb(7, 137, 25);
}
.form-btn-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	gap: 1rem;
}
.btn {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	width: 50%;
	color: white;
	transition: 0.3s;
	font-weight: bold;
}
.btn:hover {
	background-color: white;
}
.cancel-btn {
	background-color: gray;
	border: solid 2px gray;
}
.cancel-btn:hover {
	color: gray;
}
.add-btn {
	background-color: rgb(7, 137, 25);
	border: solid 2px rgb(7, 137, 25);
}
.add-btn:hover {
	color: rgb(7, 137, 25);
}
