.counter-container {
	position: fixed;
	top: 0;
	margin: 1rem;
	padding: 1rem;
	width: calc(100% - 2rem);
	color: rgb(7, 137, 25);
	border-radius: 1rem;
	box-shadow: 0 0 1rem 0 grey;
}
h1 {
	font-size: 2rem;
	text-align: center;
}
span {
	color: rgb(22, 22, 22);
}
