.loading_container {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading {
	display: flex;
	gap: 0px;
	animation: balls-anim 1s infinite ease-in-out;
	transition: all 0.2s ease;
}
@keyframes balls-anim {
	0% {
		gap: 0;
		transform: rotate(0);
	}
	50% {
		gap: 100px;
		transform: rotate(360deg);
	}
	100% {
		gap: 0;
		transform: rotate(360deg);
	}
}
.ball_1 {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgb(156, 243, 178);
}
.ball_2 {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgb(86, 247, 126);
}
